<md-sidenav-container fullscreen>
  <md-sidenav class="main" mode="side" opened="true">

    <div class="user-wrap clearfix">
      <img src="assets/img/photo.png" alt="" class="user-photo left">
      <h2 class="user-name left">
        Trevor Reyes
      </h2>
    </div>
    <div class="projects-plus clearfix">
      <h3 class="left">
        Projects
      </h3>
      <button md-button md-icon-button class="projects-plus-icon icons8-plus right" (click)="sidenavRight.open()" [routerLink]="['/projects/new']">
      </button>
    </div>

    <div class="projects">
      <button *ngFor="let project of projects | async " [class.active]="project.id === selectedProject?.id" (click)="onSelect(project)"
        md-button class="menu-btn left"><h3 class="menu-btn-title left">{{project.title}}</h3><p class="right">{{project.task_count}}</p></button>
    </div>
    <button md-button class="menu-btn log-out"><h3 class="menu-btn-title left">Log out</h3></button>

  </md-sidenav>

  <md-toolbar>

    <button md-button md-icon-button class="bar-icon icons8-search"></button>
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <button md-icon-button class="bar-icon icons8-more" [mdMenuTriggerFor]="menu"></button>
    <md-menu #menu="mdMenu">
      <div class="shadow">
      </div>
      <button class="drop-menu" md-menu-item><i class="icons8-edit left"></i><span>Edit</span></button>
      <button class="drop-menu" md-menu-item><i class="icons8-delete left"></i><span>Delete</span></button>
    </md-menu>

  </md-toolbar>

  <md-sidenav #sidenavRight class="slave m2app-dark" [opened]="rightOpened" (close-start)="onSlaveClose()" align="end">
    <button md-icon-button class="esc-btn icons8-delete-2 left" (click)="sidenavRight.close()"></button>    
    <div class="container">
      <router-outlet></router-outlet>

    </div>
    <button md-button md-icon-button class="plus-icon icons8-checkmark"></button>
  </md-sidenav>
  <div class="dates">
    <app-task-list *ngIf="selectedProject !== null" [project]="selectedProject"></app-task-list>
  </div>
</md-sidenav-container>
<div #taskAddBtn *ngIf="selectedProject && sidenavRight.opened === false">
  <button md-button md-icon-button class="plus-icon icons8-plus" (click)="sidenavRight.open()" [routerLink]="['tasks/new']"></button>
</div>