#about {
    padding-top: 4%;
    font-size: 100%;
    .container {
        margin: 0 auto;
        width: 60%;
        background:rgba(170, 170, 170, 0.22);
        padding: 4%;
    }
    app-auto-complite {
        display: block;
        margin-bottom: 2%;
    }
}

        