<md-sidenav-container fullscreen>
  <md-sidenav class="main" mode="side" opened="true">

    <div class="user-wrap clearfix">
      <img src="../assets/img/photo.png" alt="" class="user-photo left">
      <h2 class="user-name left">
        Trevor Reyes
      </h2>
    </div>
    <div class="projects-plus clearfix">
      <h3 class="left">
        Projects
      </h3>
      <button md-button md-icon-button class="projects-plus-icon icons8-plus right" (click)="taskadd.hidden = true; projectAdd.open()"></button>
    </div>

    <button md-button class="menu-btn left active"><h3 class="menu-btn-title left">Private</h3><p class="right">8</p></button>
    <button md-button class="menu-btn left"><h3 class="menu-btn-title left">Decode</h3><p class="right">25</p></button>
    <button md-button class="menu-btn left"><h3 class="menu-btn-title left">Family</h3><p class="right">3</p></button>
    <button md-button class="menu-btn"><h3 class="menu-btn-title left">Cookle</h3><p class="right">13</p></button>
    <button md-button class="menu-btn log-out"><h3 class="menu-btn-title left">Log out</h3></button>

  </md-sidenav>

  <md-toolbar>

    <button md-button md-icon-button class="bar-icon icons8-search"></button>
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <!--button md-button md-icon-button class="bar-icon icons8-more"></button-->

    <button md-icon-button class="bar-icon icons8-more" [mdMenuTriggerFor]="menu"></button>
    <md-menu #menu="mdMenu">
      <div class="shadow">
      </div>
      <button class="drop-menu" md-menu-item><i class="icons8-edit left"></i><span>Edit</span></button>
      <button class="drop-menu" md-menu-item><i class="icons8-delete left"></i><span>Delete</span></button>

    </md-menu>

  </md-toolbar>

  <md-sidenav #projectAdd class="slave" (close-start)="taskadd.hidden=false" align="end">
    <button md-button (click)="projectAdd.close()">Close</button>
    <button md-button md-icon-button class="plus-icon icons8-checkmark"></button>
  </md-sidenav>

  <div class="dates">
    <div class="date-wrap">
      <div class="date-wrap-head">
        <h2 class="text date">
          Today
        </h2>
      </div>
      <md-card>
        <div class="card-list">
          <div class="card-item clearfix">
            <button md-button md-icon-button class="task-btn left"><div class="task-checkbox"></div></button>
            <p class="text left">Create a company</p>
          </div>

        </div>
      </md-card>
    </div>

    <div class="date-wrap">
      <div class="date-wrap-head">
        <h2 class="text date">
          Tomorrow
        </h2>
      </div>
      <md-card>
        <div class="card-list">
          <div class="card-item clearfix">
            <button md-button md-icon-button class="task-btn left"><div class="task-checkbox"></div></button>
            <p class="text left">Call in barber shop</p>
          </div>

        </div>
      </md-card>
    </div>

    <div class="date-wrap">
      <div class="date-wrap-head">
        <h2 class="text date">
          Friday <span>(09.06.2016)</span>
        </h2>
      </div>
      <md-card>
        <div class="card-list">

          <div class="card-item clearfix">
            <button md-button md-icon-button class="task-btn left"><div class="task-checkbox"></div></button>
            <p class="text left">Earn a lot of money</p>
          </div>

          <div class="card-item clearfix">
            <button md-button md-icon-button class="task-btn left"><div class="task-checkbox"></div></button>
            <p class="text left">Go to the shop</p>
          </div>

        </div>
      </md-card>
    </div>
    <div class="date-wrap">
      <div class="date-wrap-head">
        <h2 class="text date">
          Saturday <span>(10.06.2016)</span>
        </h2>
      </div>
      <md-card>
        <div class="card-list">
          <div class="card-item clearfix">
            <button md-button md-icon-button class="task-btn left"><div class="task-checkbox"></div></button>
            <p class="text left">Buy gifts</p>
          </div>

        </div>
      </md-card>
    </div>
    <div class="date-wrap">
      <div class="date-wrap-head">
        <h2 class="text date">
          Sunday <span>(11.06.2016)</span>
        </h2>
      </div>
      <md-card>
        <div class="card-list">
          <div class="card-item clearfix">
            <button md-button md-icon-button class="task-btn left"><div class="task-checkbox"></div></button>
            <p class="text left">Brush teeth</p>
          </div>

        </div>
      </md-card>
    </div>
    <div class="date-wrap">
      <div class="date-wrap-head">
        <h2 class="text date">
          Monday <span>(12.06.2016)</span>
        </h2>
      </div>
      <md-card>
        <div class="card-list">

          <div class="card-item clearfix">
            <button md-button md-icon-button class="task-btn left"><div class="task-checkbox"></div></button>
            <p class="text left">Buy a plane tickets</p>
          </div>

          <div class="card-item clearfix">
            <button md-button md-icon-button class="task-btn left"><div class="task-checkbox"></div></button>
            <p class="text left">Fly away to the Thailand</p>
          </div>

        </div>
      </md-card>
    </div>

  </div>

  <router-outlet></router-outlet>
</md-sidenav-container>
<div #taskadd>
<button md-button md-icon-button class="plus-icon icons8-plus"></button>
</div>