
.card-item-tail {
    margin-left: 172px;
    margin-right: 20px;
}
.card-item .text { /*btn*/
    text-align: left;
    width: 100%;
    color: #212121;
    padding-left: 33px;
    padding-right: 35px;
    letter-spacing: 0.5pt;
    height: 80px;
    margin-top: 20px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}
.task-btn {
    width: 100px;
    height: 100px;
    margin: 10px 36px;
}
.task-checkbox {
    width: 28px;
    height: 28px;
    border: 6px solid #bdbdbd;
    border-radius: 50%;
    margin: auto auto;
    &:after {
        margin-left: 98px;
        margin-top: -26px;
        content: '';
        display: block;
        width: 2px;
        height: 80px;
        background-color: #eaeaea;
    }
}
.card-item {
    line-height: 120px;
    &:after {
        content:'';
        display: block;
        height: 2px;
        background-color:  #eaeaea;
        margin: -1px 121px;
        &:last-child {
            display: block;
            content:'';
            width: 0;
            height: 0;
            margin: 0;
        }
    }
}
md-card {
    padding: 0;
    border-radius: 14px;
    box-shadow: 5px 9px 30px 0px rgba(0, 0, 0, 0.16); 
}

.date-wrap-head {
    .text {
        position: absolute;
        bottom: 12px;
        left: 15px;
        color: #b3bbcb;
        span {
            font-size: 24px;
            letter-spacing: 0;    
        }
    }
}

.text {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 30px;
    letter-spacing: 1pt;
    font-weight: bold;    
}