<div #openTask>
  <button md-icon-button class="delete-task-btn icons8-delete right"></button>
  <button md-icon-button class="edit-task-btn icons8-edit right" (click)="description.disabled = false"></button>

  <h2 class="title">{{task?.title}}</h2>
  <md-input-container>
    <textarea #description [(ngModel)]="task.description" disabled="true" class="slave-textarea" md-input></textarea>
  </md-input-container>
  <button md-button md-icon-button class="plus-icon icons8-checkmark" (click)="save(task)"></button>
</div>