/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
@import './fonts/css/styles.min.css';

body {
    zoom: 50%;
}

@media (min-resolution: 192dpi),           /* Нормальные браузеры */
       (-webkit-min-device-pixel-ratio: 2)  /* Webkit */ {
    body {
        zoom: 100%;
    }
}

html, body, material-app, md-sidenav-container, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}
a, a:hover {
    text-decoration: none;
    outline: none;
}
p, h2, h3 {
    margin: 0;
}
.clearfix:before,
.clearfix:after{
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
}
.left {
    float: left;
}
.right {
    float: right;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.md-sidenav-container {
    background-color: #f7f7f7;
}
md-sidenav.main {
    width: 565px;
}
md-sidenav.md-sidenav-opened, md-sidenav.md-sidenav-opening {
    box-shadow: none;
}
.user-photo {
    width: 100px;
    height: 100px;
    border: #fff 2px solid;
    padding: 8px;
    border-radius: 50%;
    margin-left:20px;
}
.user-wrap {
    margin: 40px 0;
}
.user-wrap h2{
    font-size: 30px;
    letter-spacing: .8pt;
    font-weight: 500;
    line-height: 120px;
    margin: 0 40px;
}
.projects-plus h3 {
    font-size: 24px;
    letter-spacing: 1pt;
    font-weight: 500;
    line-height: 97px;
    margin: 0 30px;
}
md-sidenav.main .menu-btn {
    border-radius: 8px;
    height: 80px;
    width:100%;
}
.menu-btn.active {
    background: #6b6b99;
}
md-sidenav.main .menu-btn h3.menu-btn-title {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0 0 0 15px;
    line-height: 80px;
    font-size: 30px; 
    font-weight: 500;
    letter-spacing: 1pt;        
}
md-sidenav .menu-btn p {
    margin: 0 15px 0 0;
    line-height: 80px;
    font-size: 30px; 
    font-weight: 500; 
}
.dates {
    position: relative;
    padding: 0 460px; 
}
.date-wrap-head {
    height: 82px;
    position: relative;    
}
.example-fill-remaining-space {
  flex: 1 1 auto;
} 
button.drop-menu {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    height: 80px;
    width: 240px;
    font-size: 30px;
    line-height: 80px;
}
button.drop-menu i {
    font-size: 55px;
    margin: 0 20px;
}
button.drop-menu span {
    margin-right: 20px;
}
.shadow {
    width: 100%;
    height: 100%;
    position: fixed;
    box-shadow: 6px 12px 40px 0px rgba(0, 0, 0, 0.20); 
    margin: -8px 0;
}
.slave .title {
    font-size: 36px;
    letter-spacing: 1.15pt;
    font-weight: normal;
    text-align: center;
    margin-top: 60px;
}
.slave .container {
    height: 60%;    
    margin: 0 158px;
}
.slave md-input-container {
    width: 100%;
    margin-top: 50px;
}
label.md-input-placeholder {
    margin-left: 10px;
}
.slave-input, .md-input-placeholder {
    width: 100%;
    color: #fff;
}
.slave-textarea {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;  
    margin-top: -10px;  
    height: 800px;
    font-size: 24px;
    line-height:45px;
    letter-spacing: 1.15pt;
    color: #dbdbdb;
    resize: vertical;    
}
.delete-tack-btn {
    color: #51555e;
    height: 75px;
    width: 75px;
    position: absolute;
    right: 35px;
    top: 40px;
    font-size: 40px;
}
.edit-tack-btn {
    color: #51555e;    
    height: 75px;
    width: 75px;
    position: absolute;
    right: 115px;
    top: 40px;
    font-size: 40px;
}