/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
@import './fonts/css/styles.min.css';

// body {
//     /*zoom: 0.5;
//     -ms-zoom: 0.5;
//     -webkit-zoom: 0.5;
//     /*-moz-transform:  scale(0.5,0.5);
//     -moz-transform-origin: left center;*/
// }

// @media (min-resolution: 192dpi),           /* Нормальные браузеры */
//        (-webkit-min-device-pixel-ratio: 2)  /* Webkit */ {
//     body {
//         zoom: 100%;
//     }
// }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, material-app, md-sidenav-container, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}
a, a:hover {
    text-decoration: none;
    outline: none;
}
p, h2, h3 {
    margin: 0;
}
.clearfix:before,
.clearfix:after{
    content: " ";
    display: table;
}
.clearfix::after {
    clear: both;
}
.left {
    float: left;
}
.right {
    float: right;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.md-sidenav-container {
    background-color: #f7f7f7;
}
md-sidenav {
    .main-side-container {
        padding: 0 8%;
        width: 100%;
        height: 100%;
    }
    &.main {
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background: #292c33;
    }
    &.main {
        width: 14%;
        min-width: 343px;/*320*/
        .menu-btn {
            border-radius: 0.3em;
            width:100%;
            &.active {
                background: #6b6b99;
            }
            p {
                margin: 0 1% 0 0;
                line-height: 275%;
                font-size: 105%;
                font-weight: 500; 
            }
            h3.menu-btn-title {
                font-family: -apple-system, BlinkMacSystemFont, sans-serif;
                margin: 0 0 0 1%;
                line-height: 275%;
                font-size: 105%;
                font-weight: 500;
                letter-spacing: 1pt;        
                    
            }
        }
    }
    &.md-sidenav-opened, 
    &.md-sidenav-opening {
        box-shadow: none;
    }
}
.user-photo {
    width: 21%;
    height: 21%;
    border: #fff 0.1em solid;
    padding: 1.1%;
    border-radius: 50%;
    margin-left: 4%;
}
.user-wrap {
    padding-top: 7%;
    h2 {
        font-size: 85%;
        letter-spacing: .8pt;
        font-weight: 500;
        line-height: 450%;
        margin-left: 7%;
    }
}

.projects-plus {
    h3 {
        font-size: 70%;
        letter-spacing: 1pt;
        font-weight: 500;
        margin: 0 6%;
        margin-top: 13%;
    }
}

.dates {
    position: relative; 
    padding: 0 10%;
}
.date-wrap-head {
    height: 2.5em;
    position: relative;    
}
.example-fill-remaining-space {
  flex: 1 1 auto;
} 
button.drop-menu {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    height: 80px;
    width: 240px;
    font-size: 30px;
    line-height: 80px;
    i {
        font-size: 55px;
        margin: 0 20px;
    }
    span {
        margin-right: 20px;
    }
}
.shadow {
    width: 100%;
    height: 100%;
    position: fixed;
    box-shadow: 6px 12px 40px 0px rgba(0, 0, 0, 0.20); 
    margin: -8px 0;
}
.slave {
    .title {
        font-size: 36px;
        letter-spacing: 1.15pt;
        font-weight: normal;
        text-align: center;
        margin-top: 60px;
    }
    .container {
        height: 60%;    
        margin: 0 158px;
    }
    md-input-container {
        width: 100%;
        margin-top: 50px;
    }
}

label.md-input-placeholder {
    margin-left: 10px;
}
.slave-input, .md-input-placeholder {
    width: 100%;
    color: #fff;
}
.slave-textarea {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;  
    margin-top: -10px;  
    height: 800px;
    font-size: 24px;
    line-height:45px;
    letter-spacing: 1.15pt;
    color: #dbdbdb;
    resize: vertical;    
}
.log-out-wrap{
    /*@extend .main-side-container;*/
    padding: 0 8%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 26px;
}
button.log-out {

}
button.projects-plus-icon {
    width: 2.5em;
    height: 2.5em;
    color: #fff;
    font-size: 120%;
    margin-top: 7%;  
}
.plus-icon {
    position: fixed;
    right: 60px;
    bottom: 60px;    
    background: #6b6b99;
    color: #fff;
    font-size: 60px;
    width: 100px;
    height:100px;
    .icons8-checkmark{
        font-size: 45px;
        margin-right: 0px;
    }
}
.esc-btn {
    margin-top: 20px;
    padding-top: 20px;
    color: #fff;
    font-size: 50px;
    width: 100px;
    height: 100px;
    &:after {
        margin-top: -10px;
        font-size: 18px;
        content:'ESC';
        display: block;
    }
}

.task-list {
    md-toolbar {
        min-height: 0;
        padding: 0;
        border-bottom: 1px solid #bdbdbd;
        background-color: #f7f7f7;
        md-toolbar-row {
            height: auto;    
        }
    }
    .bar-icon {
        color: #b3bbcb;
        font-size: 1.3em;
        width: 2em;
        height: 2em;
    }
    .card-item {
        &-head {
            width: 20%;
            border-right: #eaeaea solid 1px;
            margin: 0.5em auto;

       /* margin-left: 172px;
        margin-right: 20px;*/
            /*&:after {
                content: '';
                display: block;
                width: 2px;
                height: 2em;
                background-color: #eaeaea;
                float: left;
            }*/
        }
        &-tail {
            width: 80%;
       /* margin-left: 172px;
        margin-right: 20px;*/
        }

        .text { /*btn*/
            text-align: left;
            width: 100%;
            color: #212121;
            padding-left: 33px;
            padding-right: 35px;
            letter-spacing: 0.5pt;
            margin-top: 1em;
            border-bottom-right-radius: 12px;
            border-top-right-radius: 12px;
        }
    }
    .task-btn {
        width: 3em;
        height: 3em;
        margin: auto;
        display: block;
    }
    .task-checkbox {
        width: 28px;
        height: 28px;
        border: 6px solid #bdbdbd;
        border-radius: 50%;
        margin: auto auto;
    }
    .card-item {
        line-height: 2em;
        .underline {
            display: block;
            border-bottom: #eaeaea solid 1px;
            margin: 0 4em;
            clear: both;
            
        }
        &:last-child .underline {
            display: none;
            content:'';
            width: 0;
            height: 0;
            margin: 0;
        }
    }
    md-card {
        padding: 0;
        border-radius: 0.3em;;
        box-shadow: 5px 9px 30px 0px rgba(0, 0, 0, 0.16); 
    }

    .date-wrap-head {
        .text {
            position: absolute;
            bottom: 12px;
            left: 15px;
            color: #b3bbcb;
            span {
                font-size: 0.9em;
                letter-spacing: 0;    
            }
        }
    }

    .text {
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        font-size: 1em;
        letter-spacing: 1pt;
        font-weight: bold;    
    }
}
